@model RP.Entities.AdminModule.ViewModels.DeleteAnswerViewModel

@{
    ViewBag.Title = "DeleteAnswer";
}

<h2 class="text-center">Czy na pewno chcesz usunąć odpowiedź do pytania @Model.SurveyQuestionName?</h2>

<div>
    @Html.ActionLink("Powrót", "MenageAnswers", "Admin", new { id = Model.SurveyQuestionId, recruitmentProcessId = Model.RecruitmentProcessId, questionTypeId = Model.SurveyQuestionTypeId }, new { @class = "btn btn-dark" })
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.RecruitmentProcessId)
    @Html.HiddenFor(model => Model.SurveyQuestionId)
    @Html.HiddenFor(model => Model.AnswerId)
    @Html.HiddenFor(model => Model.SurveyQuestionTypeId)
    <div class="form-group">
        <div class="col-md-10">
            Odpowiedź: @Html.DisplayFor(model => model.Answer, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Usuń" class="btn btn-dark" />
        </div>
    </div>
</div>
}