@model IEnumerable<RP.Entities.Recruitment.PaymentType>

@{
    ViewBag.Title = "MenagePaymentTypes";
}

<h2 class="text-center">Zarządzanie rodzajami wynagrodzenia</h2>

<div>
    @Html.ActionLink("Dodanie rodzaju", "AddPaymentType", "Admin", null, new { @class = "btn btn-dark" })
</div><br/>

<div>
    <table class="table table-striped table-condensed table-hover">
        <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Nazwa</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var i in Model)
            {
                <tr>
                    <td> @Html.DisplayFor(m => i.Id)</td>
                    <td> @Html.DisplayFor(m => i.Name)</td>
                    <td>@Html.ActionLink("Edytuj", "EditPaymentType", "Admin", new { id = i.Id }, new { @class = "btn btn-dark" })</td>
                    <td>@Html.ActionLink("Usuń", "DeletePaymentType", "Admin", new { id = i.Id }, new { @class = "btn btn-dark" })</td>
                </tr>
            }
        </tbody>
    </table>
</div>